@import "tailwindcss";

body {
  margin: 0;
   font-family: "Poppins", sans-serif;
  background: #F8FAFC;
   font-weight: 500;
  font-style: normal;
  color: #0f172a;
}

button {
  cursor: pointer;
}
